{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
         <link rel="stylesheet" href="{% static 'css/styles.css' %}">


    <title>Cadastro Pacientes</title>
      {% include "model_header.html" %}
      {% include 'header_menu.html' %}




    <!-- Custom styles for this template -->
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
  </head>
  <body class="text-center">
  <div id="container" class="container  p-3 my-3 border">

    {% block content %}
    {% endblock %}


  </div>
    {% include "model_footer.html" %}

</body>
</html>
