{%  extends 'base.html'%}
{% load staticfiles %}

     <link href="{% static 'css/cadastro_prof.css'%}" rel="stylesheet">
      <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sign-in/">

    <!-- Bootstrap core CSS -->
<link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


{% block content %}

    <!-- Bootstrap core CSS -->
 <!-- Custom styles for this template -->

<form  class="form-signin" method="post">{%csrf_token%}
     <div  class='cabecalho'style="color:#01c4c4">
    <h2 > Cadastro</h2>
    </div>

     <label></label>
    {{form.nome}}
    {{form.nome.error}}

    <label></label>
    {{form.username}}
    {{form.username.errors}}
    <label></label>
    {{form.CPF}}
    {{form.CPF.errors}}
     <label></label>
    {{form.email}}
    {{form.email.errors}}
    <label></label>
    {{form.especialidade}}
    {{form.especialidade.errors}}

    <label></label>
    {{form.password}}
    {{form.password.errors}}
    <div  class="c_btn">
    <button class="myButton" type="submit" >Cadastrar</button>
        <a href="login.html/">
    <button class="myButton1"  name="cancelar" >Cancelar</button></a>
     </div>

</form>


{% endblock %}

