{% extends 'index.html'%}
{% load staticfiles %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>



</head>
{% block content %}


<form  method="post" >{%csrf_token%}
 <div class="form-group">

     <label></label>
    {{form.nome}}
    {{form.nome.error}}

    <label></label>
    {{form.username}}
    {{form.username.errors}}

     <label></label>
     {{form.CPF}}
    {{form.CPF.errors}}

     <label></label>
    {{form.especialidade}}
     <label></label>

    {{form.email}}
    {{form.email.errors}}

     <label></label>
    {{form.password}}
    {{form.password.errors}}

    <div>
        {% for i in messages %}
      <div class="alert alert-danger">
          <strong>Error! </strong>{{i}}
      </div>
        {% endfor %}
 <button type="submit" class="btn btn-outline-primary">Cadastrar</button>
<!--        <a href="../login/">-->
<!--        <button class=" btn btn-lg btn-info " style="position:relative;bottom:75px;left: 260px;" type="button" name="cancelar">Cancelar</button></a>-->
    </div>

     </div>

</form>


{% endblock %}

