{%  extends 'base_paciente.html'%}


{% block content %}

    <h3 class="text-center" style="color:#01c4c4"> Cadastrar Paciente</h3>

    <div class="container">
    <form enctype="multipart/form-data" action="submit" method="post">{% csrf_token %}

        <div class="form-group">
            <label for="nome_paciente"></label>
            <input class="form-control" name="nome_paciente" type="text" placeholder="Nome Completo">
        </div>
        <div class="form-group">
            <label for="cpf_paciente"></label>
            <input class="form-control" name="cpf_paciente" type="text" placeholder="CPF">
        </div>
        <div class="form-group">
            <label for="idade"></label>
            <input class="form-control" name="idade" type="number" placeholder="Idade">
        </div>
         <div class="form-group">
            <input class="form-control-file border" name="file" type="file"  accept="image/*">
        </div>
        <button type="submit" class="btn btn-primary">
            Cadastrar
        </button>
        </form>
    </div>
{% endblock %}