{%  extends 'base.html'%}
{% block content %}

    <!-- Bootstrap core CSS -->
<link href="{'bootstrap/css/bootstrap.min.css'}" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
 <!-- Custom styles for this template -->
    <link href="{ 'css/signin.css'}" rel="stylesheet">

<form  class="form-signin" method="post">{%csrf_token%}
    {% csrf_token %}
    <div  class='cabecalho'>
    <h2 > Cadastro</h2>
    </div>

     <label></label>
    {{form.nome}}
    {{form.nome.errors}}

    <label></label>
    {{form.CPF}}
    {{form.CPF.errors}}
    <label></label>
    {{form.especialidade}}
    {{form.especialidade.errors}}
    <label></label>
    {{form.email}}
    {{form.email.errors}}
    <label></label>
    {{form.senha}}
    {{form.senha.errors}}
    <div align="center" class="c_btn">
    <div class="btn_cad">
    <button class="btn btn-lg btn-primary" type="submit" >Cadastrar</button>
    </div>

     <div class="btn_canc">
    <button  class="btn btn-lg btn-primary " >Cancelar</button>
     </div>
    </div>

</form>


{% endblock %}

