{%  extends 'base_paciente.html'%}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>


     {% include "header_menu.html" %}
 <!-- Custom styles for this template -->


</head>


<body>
<form  class="form-signin" method="post" enctype="multipart/form-data">{%csrf_token%}

    <label>Foto</label>
    {{form.foto}}
    <label>Nome</label>
    {{form.nome_paciente}}

    <label>CPF</label>
    {{form.cpf_paciente}}

  <button id="btn_cad" class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>

</form>

</body>
</html>



{% endblock %}