{%  extends 'base_consulta.html'%}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">


{% block content %}
    {% if consulta %}
            <h3 class="text-center" style="color:#01c4c4"> Alterar Consulta</h3>
    {% else %}
        <h3 class="text-center" style="color:#01c4c4"> Marcar Consulta</h3>
    {% endif %}

    <div class="container">
    <form enctype="multipart/form-data" action="submit" method="post">{% csrf_token %}
        <input type="number" class="form-control" name="consulta-id" value="{{consulta.id}}"hidden>



        <div class="form-group mt-5" >
            <label for="data" style="margin-left:-242px;position:relative;top:5px;font-weight: bold;">Data da Consulta</label>
            <input class="form-control" name="data" type="date" date   placeholder="Data"value="0000/00/00">
        </div>
        <div class="form-group">
            <label for="horario" style="margin-left:-218px;position:relative;top:5px;font-weight: bold;">Horário da Consulta</label>
            <input class="form-control" name="horario" type="time" placeholder="Horário"value="{{consulta.horario}}">
        </div>
        <div class="container mt-2">
            {% for message in messages %}
        <div class="alert alert-warning">
             <strong>Error! </strong>{{message}}
        </div>
        {% endfor %}
    <button class="myButton" type="submit" style="color:#fff;">
        {% if consulta %}
            Alterar
        {% else %}
            Cadastrar
        {% endif %}
    </button>
        </div>


        </form>
    </div>
{% endblock %}