{% load staticfiles %}
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="{% static 'css/styles.css' %}">
   <script src="{% static 'http://code.jquery.com/jquery-latest.min.js' %}" type="text/javascript"></script>
   <script src="script.js"></script>
   <title>Pacientes</title>

    <div id='cssmenu'>
<ul>
   <li><a href='/site_sicabio/cadastrar_paciente/'>Adicionar</a></li>
   <li><a href='/site_sicabio/all/'>Listar</a></li>
   <li><a href='#'>Alterar Dados</a></li>
   <li><a href='#'>Opções</a></li>
</ul>
</div>