{% load static %}
<!--   <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>-->
<!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->

<style>
  a:link{
    color:#00cdcf;
    text-decoration:none;

  }
  a{
   color:#01c4c4;}
  a:hover{
    text-decoration:none;
    color:#008c8c;

}
 a{
   color:#01c4c4;}

#navbar {
  background-color:  #00c9c9;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
  overflow:auto;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  color: #fff;
}
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
.btn {
 transition-duration: 0.5s;
}
.btn:hover{
    color:#00C9C9;
}
.btn{
    border: #0aafc9;
    border-radius: 4px;

}
</style>



<div id='navbar'>
       <a href='/'>Tela Principal</a>
       <a href='../../../pacientes_analise/'>Análise Dermatoglífica</a>
    <a href='#'>Resultados</a>
            <a href="#" style="float: right;"><button type="button" class="btn btn"style="background:#009898;color:white">Realizar Análise</button> </a>

<!--    <a href="#" style="float: right;"><button type="button" data-toggle="modal" data-target="#modalExemplo" class="btn btn-light-blue"style="background:#009898;color:white">Realizar Análise</button> </a>-->
<!--   <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="exampleModalLabel">Alerta</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->

<!--      <div class="modal-body">-->
<!--          <b> Não existem o total de 10 impressões digitais cadastradas. Deseja continuar a análise dermatoglífica?</b>-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>-->
<!--        <button type="button" class="btn btn-primary">Realizar a análise</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->



</div>


