html,
body {
 width: 100%;
 align:center;

}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#87ebfd+9,53dcf1+47,05c0e1+90 */
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f0f9ff+11,cbebff+42,a1dbff+100 */
    background: #2ebfde;




}

.container{

    border: 12px solid #B22222;
    border-radius: 10px;
    width:500px;
    height:600px;
    background-color: #fff;

}
.form-signin {
  width: 100%;
  padding: 5px;
  margin: auto;
  align:center;
}
.form-signin input {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height:40px;
  width:400px;
  font-size: 18px;
  left:30px;
  top:50px;
  bottom:30px;
}


.form-signin .form-control:focus {
  z-index: 3;
}



.c_btn{
    position:absolute;
    bottom:550px;
    left:-82px;
    width:100%;
}

.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #3fc5f5 5%, #408c99 100%);
	background-color:#3fc5f5;
	border-radius:8px;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
	position:absolute;
    top:465px;
    left:630px;
    width:120px;
    height:50px;

}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #3fc5f5 100%);
	background-color:#408c99;
}

.myButton1 {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #3fc5f5 5%, #408c99 100%);
	background-color:#3fc5f5;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
	position:absolute;
    top:465px;
    left:780px;
    width:120px;
    height:50px;


}
.myButton1:hover {
	background:linear-gradient(to bottom, #408c99 5%, #3fc5f5 100%);
	background-color:#408c99;
}




.cabecalho{
    position: absolute;
    align:center;
    bottom:510px;
    left: 615px;
    color:#adadad;

}
