
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  height:100%;
  border-radius: 10px;
  border-color: #2FD9EC;
  margin-left: 100px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


#menu_altdigital{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width:50%;
  height:auto;
  border-radius: 8px;
  border-color: #2FD9EC;
  left: 540px;
  bottom:400px;


}
#menu_excluird{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width:50%;
  height:auto;
  border-radius: 8px;
  border-color: #2FD9EC;
  bottom:400px;
  left: 370px;



}

.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.col {
  float: left;
  width: 25%;
  padding: 0 10px;
}


img {
  border-radius: 5px 5px 0 0;
  border-color: #2FD9EC;


}

.container {
  padding: 2px 16px;
  width:100%;
}
