body{
    background-color:#fff;
    width:100%;
    height:100%;
}


#img_1{
        width:100%;
        position:relative;
        bottom:30px;
        left:100px;



    }

#img_2{

    width:100%;
    position:relative;
    bottom:400px;
    left:625px;


}

#polegar{

    position:relative;
    bottom:650px;
	left:110px;

}

#indicador{

    position:relative;
    bottom:790px;
	left:155px;

}

#medio{

    position:relative;
    bottom:830px;
	left:253px;

}
#anular{

    position:relative;
    bottom:830px;
	left:325px;

}
#minimo{

    position:relative;
    bottom:800px;
	left:370px;

}

#polegar_2{

    position:relative;
    bottom:760px;
	left:900px;

}

#indicador_2{

    position:relative;
    bottom:905px;
	left:830px;

}

#medio_2{

    position:relative;
    bottom:946px;
	left:780px;
}

#anular_2{

    position:relative;
    bottom:950px;
	left:702px;

}
#minimo_2{

    position:relative;
    bottom:916px;
	left:650px;

}

#mao_esquerda{

    position:absolute;
    top:360px;
    left: 238px;

}
#mao_direita{

    position:absolute;
    top:360px;
    left:747px;
}

